body {
    background-color: '#fdf2e9';
    color: black;
}

button {
    background-color: '#fae5d3';
}

.dropdown {
    background-color:'#eeeeee';
}

#main-content {
    display: flex;
    flex-direction: row;
}