.sidebar {
    width: 50px;
    height: 100vh; 
    background-color: #f8f9fa;
    position: fixed;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 1000;
}

.sidebar:hover{
    width: 200px;
}
.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px; 
    text-decoration: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    border-left: 4px solid transparent;
    transition: all 0.3s;
    font-size: 24px;
}

.sidebar-link:hover{
    background-color: #e9ecef;
}
.sidebar-text{
    display: none;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 16px;
}
.sidebar:hover .sidebar-text{
    display: inline;
    font-size: 16px;
}
.main-content{
    margin-left: 50px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.sidebar:hover ~ .main-content{
    margin-left: 200px;
}
.sidebar-link.active{
    background-color: #dee2e6;
    border-left: 4pw solid #007bff;
    font-weight :bold;
}